$desktopMiddle:1600px;
$desktopSMall:1400px;
$tabletBig:1200px;
$tabletMiddle:950px;
$tabletSmall:820px;
$mobileBig:760px;
$mobileMiddle:600px;
$mobileSmall:450px;
$mobileVerySmall:400px;
$mobileIphone5:359px;