// colors

$warningPressed: #6c5810;
$warningHover: #b5931b;
$warningMain: #d9b020;
$warningFocus: #ecd78f;
$warningBorder: #f2e5b5;
$warningSecondary: #f7efd2;

$dangerPressed: #541212;
$dangerHover: #8d1f1f;
$dangerMain: #a92525;
$dangerFocus: #d49292;
$dangerBorder: #e2b6b6;
$dangerSecondary: #eed3d3;

$successPressed: #00331b;
$successHover: #00552e;
$successMain: #006637;
$successFocus: #80b29b;
$successBorder: #aaccbc;
$successSecondary: #cce0d7;

$infoPressed: #012860;
$infoHover: #0243a1;
$infoMain: #0350c1;
$infoFocus: #81a7e0;
$infoBorder: #abc5ea;
$infoSecondary: #cddcf3;

$primaryMain: #3b25a9;
$primaryHover: #3b1ad9;
$primaryFocus: #e7e2ff;

$neutral900: #121217;
$neutral800: #272a34;
$neutral700: #3d4151;
$neutral600: #53586e;
$neutral500: #696f8c;
$neutral400: #858aa3;
$neutral300: #a2a6b9;
$neutral200: #bfc2cf;
$neutral100: #dcdde5;
$neutral50: #f9f9fb;
$white: #fff;
$gray800: #3f3f3f;
$black: #000;
$gray0290: #424242;

$bg: #f8fbfe;

// fonts

$inter: "Inter";
$openSans: "Open Sans";
$roboto: "Roboto";



// ===  size-fonts ====

$fz10:10px;
$fz12:12px;
$fz14:14px;
$fz16:16px;
$fz20:20px;
$fz28:28px;
$fz36:36px;

// ====mixim

@mixin image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0;
    z-index: 1;
}
